.round {
  border-radius: 100px;
}
.record{
  opacity: 1;
  border: none;
  width: 100%;
  background: transparent;
  transition: 0.3s ease;
  line-height: 1;
  padding: 0;
}
.record:hover{
  opacity: 0.7;
  transition: 0.3s ease;
}
.record img {
  width: 50px;
}

.time {
  border-radius: 10px;
  padding: 10px;
  background: #A6DEF7;
  min-width: 65px;
  text-align: center;

}

.flex-column {
  display: flex;
  flex-direction: column;
}

.date {
  margin-left: 10px;
  text-align: left;
  font-size: 0.8em;
}



.h1Login {
  padding: 0;
  margin: 0 0 50px;
  color: white;
}

.name {
  font-weight: 600;
  margin-left: 10px;
}
P {
	color: #222222;
}
.evenly {
	justify-content: space-evenly;
}
.flexColumn {
	display: flex;
	flex-direction: column;
}
.nameSection {
	align-items: stretch !important;
}

.flex {
  gap: 5px;
	display: flex;
	flex-direction: row;
}
.center {
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: center;
	justify-content: space-between;
}
.between {
	justify-content: space-between;
}