/* Общие стили для модального окна */
.modal {
	visibility: hidden;
	display: flex;
	top: 0;
	left: 15%;
	position: fixed; /* Changed from absolute to fixed */
	height: 100dvh;
	width: 85%;
	backdrop-filter: blur(10px);
	justify-content: center;
	align-items: center;
	z-index: 99998;
	transition: opacity 0.3s;
	opacity: 0;
}

/* Стили для активного модального окна */
.modalActive {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.3s;
}

.modal__content {
	display: flex;
	gap: 40px;
	background: white;
	box-shadow: 0 0 40px 5px #3e36b01c;
	min-width: fit-content;
	width: 500px;
	padding: 45px;
	z-index: 1;

	flex-direction: column;
	border-radius: 16px;
	transform: scale(0);
	transition:  0.3s; 
	>div{
		/* display: flex ; */
		flex-direction: column;
		gap: 20px;
	}
}

.modalActive .modal__content {
	transform: scale(1);
}
