.calendarNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.calendarNavbarDate {
  padding: 3px;
  font-size: 2.5em;
  display: flex;
  gap: 10px;
}

.dateFilter {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 40px;
  padding: 0 10px;
  border-radius: 16px;
  background-color: #a6def7;
}



.dateFilter input {
  border: 1px solid #9ed2ea;
  outline: none;
  border-radius: 16px;
  padding: 0 5px;
  background-color: #d2f1ff;
  color: #222222;
  font-size: 16px;
  text-align: center;
}

.calendarNavbarButt {
  color: #222222;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 40px;
  background: #a6def7;
  border-radius: 20px;
}

.calendarNavbarButt img {
  width: 12px;
  margin: 9px 20px 9px 0;
}

.calendarNavbarButt span {
  padding: 9px 20px;
  color: #222222;
  user-select: none;
  transition: 0.3s;
}

.calendarNavbarButt span.active {
  color: #222222;
  background: #a6def7;
  border-radius: 20px;
  transition: 0.3s;
}