.card {
  background-color: white;
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0 0 10px 5px #00000014;
  position: relative;
  gap: 15px;
    display: flex;
    flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* To position name/date on the left and rating on the right */
}

.headerInfo {
  flex-grow: 1; /* Allow headerInfo to take remaining space */
  margin-left: 15px; /* Space between avatar and info */
  display: flex;
}

.avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  padding: 7px;
}

.name {
  font-weight: 600;
  font-size: 16px;
  color: black;
  margin: 0; /* Remove default margin */
}

.date {
  font-weight: 500;
  color: #494949;
  font-size: 12px;
  margin: 0;
}
.gap {
  gap: 5px;
  display: flex;
  flex-direction: column;
}

.rating {
  right: 16px;
  top: 4px;
  position: absolute;
  margin: 5px 0;
}

.star {
  color: #ffcc00; /* Gold color for filled stars */
  font-size: 20px;
}

.starEmpty {
  color: #ccc; /* Gray color for empty stars */
  font-size: 18px;
}

.text {
  font-weight: 500;
  color: #333;
  font-size: 15px;
  
  line-height: 1.6; /* Add line height */
}


/* You may want to adjust the Choice component's styles as needed */
