.calendarNavbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendarNavbarDate {
  padding: 3px;
  font-size: 2.5em;
  display: flex;
  gap: 10px;
}

.calendarNavbarButt {
  color: #222222;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  background: #a6def7;
  border-radius: 20px;
}

.calendarNavbarButt img {
  width: 12px;
  margin-right: 20px;
  margin-left: 0;
  margin: 9px 20px 9px 0;
}

.calendarNavbarButt span {
  padding: 9px 20px;
  color: #222222;
  user-select: none;
  transition: 0.3s;
}

.calendarNavbarButt span.active {
  background: #a6def7;
  border-radius: 20px;
}

.buttDefold {
  border-radius: 30px;
  width: 100px;
  height: 45px;
}

.fillBlue {
  background: #3e36b0;
  color: white;
  border: none;
}
.borderBlue {
  border: 1px solid #3e36b0;
  color: #3e36b0;
}

.userInfo {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.choice {
  display: flex;
  gap: 20px;
}
