.policyBlock{
    width: 100%;
    padding: 85px 8%;

}
.policyBlock h1{
    margin-bottom: 34px;
    font-size: 40px;
    font-weight: 600;
    line-height: 54.64px;
    margin-top: 5px;
    text-align: left;

}
.policyText p{
    font-size: 15.5px;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 20px;

}

@media (max-width: 624px) {
    .policyBlock{
        width: 100%;
        padding: 85px 7%;

        padding-top: 140px;
    
    }
    .policyBlock h1{
        margin-bottom: 25px;

    }
}