.myCustomButton {
  background-color: #3E36B0;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 12px 0px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.userInfo {
  display: flex;
  flex-direction: column;
  text-align: left;
} 
.receptId{
  background: #A6DEF7;
    padding: 10px;
    border-radius: 6px;
    font-weight: bold;
}
.nameTd {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nameTd img{
  width: 60px;
}
.round{
  border-radius: 100px;
    padding: 7px;
}