.on {
  font-size: 16px;
}

.settingNavbarButt {
  margin: 0 auto;
  width: fit-content;
  background: #3e36b0;
  border-radius: 20px;
  display: flex;
  user-select: none;
  max-width: 100%;
 
}

.settingNavbarButt button {
   text-wrap: nowrap;
  cursor: pointer;
  text-align: center;
  width: 255px;
  color: white;
  border-radius: 20px;
  padding: 9px 20px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.settingNavbarButt button.active {
  color: black;
  background: #a6def7;
  border-radius: 20px;
  transition: 0.3s;
}


