
.calendarNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendarNavbarDate {
  padding: 3px;
  font-size: 2.5em;
  display: flex;
  gap: 10px;
}

.calendarNavbarButt {
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 40px;
  background: #a6def7;
  border-radius: 20px;
}

.calendarNavbarButt img {
  width: 12px;
  margin: 9px 20px 9px 0;
}

.calendarNavbarButt span {
  padding: 9px 20px;
  color: black;
  user-select: none;
  transition: 0.3s;
}

.calendarNavbarButt span.active {
  color: black;
  background: #a6def7;
  border-radius: 20px;
  transition: 0.3s;
}
