.round {
  border-radius: 100px;
  padding: 7px;

}
.record{
  opacity: 1;
  transition: 0.3s ease;
}
.record:hover{
  opacity: 0.7;
  transition: 0.3s ease;
}
.record img {
  width: 60px;
}

.time {
  border-radius: 10px;
  padding: 10px;
  background: #A6DEF7;

}

.flex-column {
  display: flex;
  flex-direction: column;
}

.date {
  margin-left: 10px;
  font-size: 0.8em;
}



.h1Login {
  padding: 0;
  margin: 0 0 50px;
  color: white;
}

.name {
  font-weight: 600;
  margin-left: 10px;
}
P {
	color: black;
}
.evenly {
	justify-content: space-evenly;
}
.flexColumn {
	display: flex;
	flex-direction: column;
}
.nameSection {
	align-items: stretch !important;
}

.flex {
	display: flex;
	flex-direction: row;
}
.center {
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: center;
	justify-content: space-between;
}
.between {
	justify-content: space-between;
}