.calendarNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.calendarNavbarDate {
  padding: 3px;
  font-size: 2.5em;
  display: flex;
  gap: 10px;
}

.calendarNavbarButt {
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 40px;
  background: #A6DEF7;
  border-radius: 20px;
}


.calendarNavbarButt img {
  
  width: 12px;
  margin: 9px 20px 9PX 0 ;
}




.calendarNavbarButt span {

  padding: 9px 20px;
  color: black;
  user-select: none;
  transition: 0.3s;
}

.calendarNavbarButt span.active {
  color: black;
  background: #A6DEF7;
  border-radius: 20px;
  transition: 0.3s;
}

.search {
  display: flex;
  flex-direction: row;
  width: 85%;
  box-shadow: 0 0 10px 5px #00000014;
  padding: 10px 0;
  border-radius: 20px;
  border: none;
}

.search img, .chatSearch img {
  margin: 0 10px 0 20px;
  filter: invert(0.8);
  padding: 0;
  height: 20px;
  width: 20px !important;
}
.search input {
  width: 100%;
  border: none;
  border-radius: 100px;
}



.shadow {
  box-shadow: 0 0 50px 5px #00000014;
  transition: 0.3s;
  border-radius: 20px;
}

.tableContainer tbody tr:nth-child(odd) > td {
  background-color: #F3F3F3;
}
.nameTd {
  display: flex;
  align-items: center;
}
.nameTd img {
  width: 60px;
}
.userInfo {
  display: flex;
  flex-direction: column;
}
.tableContainer tbody td {
  padding: 20px;
}
.tableContainer thead th {
  padding: 20px;
}
.round {
	border-radius: 100px;
	padding: 7px;
}
.nameTd span {
	padding: 0 20px;
}
.tCenter {
	text-align: center;
}
.moreInfo {
	width: 36px;
	height: 36px;
	border-radius: 6px;
	padding: 10px;
	background: #A6DEF7;
	transition: 0.3s;
	position: relative;
}
.moreInfo:active {
  scale: 0.9;
  transition: 0.3s;
}

.moreInfo:hover {
  opacity: 0.8;
  transition: 0.3s;
}

.receptId span{
  background: #A6DEF7;
  padding: 10px;
  border-radius: 6px;
  font-weight: bold;
}