.modalInputBox {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-content: center;
}

.modalInputBox input {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 16px;
  /* box-shadow: 0 0 40px 5px #00000014; */
}

.modalForm {
  display: flex;
  flex-direction: column;
  gap: 20px;

}
.addedMedications{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.addedMedicationItem {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}



.buttDef {
  width: 100%;
  height: 45px;
  border-radius: 100px;
  background: transparent;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.buttDef img {
  width: 20px;
  height: 20px;
}