.clinicCard {
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 50px 0px #0000001A;
    border-radius: 20px;
    background-color: #fff;
    padding: 10px 20px  0 ;
}

.nameBlock {
    display: flex;
    align-items: self-start;
    gap: 20px;


}

.nameBlock>img {
    width: 70px;
    height: 70px;
    
    border-radius: 1000px;
}

.starsBlock img {
    width: 15px;
}

.nameBlock p {
    font-size: 18px;
    font-weight: 500;
    line-height: 27.32px;
    margin-bottom: 5px;
}


.namelinkBlock{
    height: 100%;
    display: flex;
    align-items: center;
    
}

.clinicInfo{
    width: 100%;
    margin-top: 20px;

}
.clinicInfo > div{
    width: 100%;
    height: auto;
    display: flex;
    align-items: self-start;
   

}
.clinicInfo > div > img:first-child{
    margin-top: 3px;
}
.clinicInfo > div > div{
    margin-left: 5px;
    font-size: 17.5px;
    font-weight: 400;
    line-height: 24.59px;
}
.clinicplaceholder{
    color: #595959;
}
.nameBlockText{
    width: 100%;
}
.link{
    width: 100%;
    padding: 15px 0 ;
    display: flex;
    justify-content: center;

}
.clinicCard a{
    color: #3E36B0;
}
.specialties{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.nameSection{
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.serviceTag {
  background-color: #f5f5f5;
  padding: 4px 12px;
  border-radius: 16px;
  
  display: inline-block;
  font-size: 14px;
  color: #666;
}

@media (max-width: 624px) {
    .nameBlock{
        gap: 10px;
    }
    .nameBlock>img {
        width: 50px;
        height: 50px;
       
    }
    .namelinkBlock{
        display: none;
    }
    
    .nameBlock p {
        font-size: 1rem;
    }
    .nameBlock span {
        font-size: 0.9rem;
        line-height: 20.59px;
    }
    .clinicInfo > div > div{
        font-size: 1rem;
    }
    
}