.uslugiBlock {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(425px, 1fr));
  gap: 20px;
  width: 100%;
}

.column {
  display: grid;
  gap: 20px;
  grid-auto-rows: min-content;
}

.uslugiItem {
  box-shadow: 0px 0px 50px 0px #0000001a;
  background-color: #fff;
  border-radius: 1000px;
  padding: 20px 30px;
  font-size: 16px;
  font-weight: 500;
  line-height: 21.86px;
  color: #0e0e0e;
  transition: max-height 0.8s ease;
  overflow: hidden;
  cursor: pointer;
}


.active {
  border-radius: 20px;
  max-height: 1000px;
}

.contentBlock {
  margin-top: 15px;
}

.uslugiTypeItem {
  gap: 10px;
  display: flex;
  justify-content: space-between;
  
}

.titleBlock span {
  background-color: #3e36b0;
  border-radius: 1000px;
  color: #fff;
  padding: 1px 7px;
}
.uslugiItemArrow {
  background: url("@assets/img/Vector10.svg") no-repeat center;
  width: 12px;
  height: 12px;
  transition: 0.2s;
}
.uslugiItemArrow.activeArrow {
  transform: rotate(180deg);
}

@media (max-width: 624px) {
  .uslugiBlock {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .uslugiTypeItem {
    flex-wrap: wrap;
    gap: 7px;
  }
  .uslugiTypeItem > div {
    width: 100%;
  }
}
