

.sidebar {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #3E36B0;
	gap: 10px;
	position: fixed;
	width: 15%;
	height: 100%;
	top: 0;
	justify-content: space-evenly;
}
.title{
	text-align: center;
}
.logo img {
	width: 60px;
}

.sidebarLinks {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

}
.sidebarLinks a {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;

}


.sidebarLinks a:hover, .exit:hover {
	background: #7fd7ff;
	transition: 0.1s;
	color: black;
}
.exit {
	color: white;	
	transition: 0.3s;
}
.sidebarLinkDiv {
	width: 70%;
	padding: 15px 0;
	transition: 0.1s;
	display: flex;
	align-items: center;
}

.sidebarLinkDiv img {
	filter: invert(1);
	width: 16px;
	margin-right: 10px;
}


.modalExit {
	visibility: visible;
	display: flex;
	top: 0;
	left: 15%;
	position: absolute;
	height: 100dvh;
	width: 85%;
	backdrop-filter: blur(10px);
	justify-content: center;
	align-content: center;
	align-items: center;
	z-index: 99998;
	transition: opacity 0.3s;
	opacity: 1;
}
.modalBox {
	display: flex;
	gap: 40px;
	background: white;
	box-shadow: 0 0 40px 5px #3e36b01c;
	width: 500px;
	padding: 45px;
	z-index: 1;
	margin: 30px;
	flex-direction: column;
	border-radius: 16px;
	transform: scale(0);
	transition: 0.3s;
}
.modalBox h1 {
	margin: 0;
}
.choice {
	gap: 20px;
	display: flex;
}
button.buttDef {
	width: 100%;
	background: transparent;
	border-radius: 100px;
	height: 45px;
	border: 1px solid black;
}

.buttDef {
  width: 100%;
  height: 45px;
  border-radius: 100px;
  background: transparent;
  border: 1px solid black;
}
.fillBlue {
  background: #3E36B0;
  color: white;
  border: none;
}
.borderBlue {
  border: 1px solid #3E36B0;
  color: #3E36B0;
}
.choice {
  display: flex;
	flex-direction: row;
  gap: 20px;
}
@media screen and (max-width: 920px) {

  .sidebar {
    display: none;
    align-items: center;
    background: #3E36B0;
    width: 100%;
    position: static;
    gap: 10px;
    flex-direction: row;
    flex-wrap: nowrap;
  }

}

