/* Общий контейнер сайдбара */
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #3e36b0;
  gap: 20px;
  position: fixed;
  width: 220px;
  height: 100dvh;
  top: 0;
  left: 0;
  justify-content: space-between;
  padding: 20px 0;
  overflow-y: auto;
  transition: 0.3s ease;
  overflow: hidden;
}

/* Логотип */
.logo img {
  width: 60px;
}

/* Ссылки */
.sidebarLinks {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebarLinks a,
.exit {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 15px 40px;

  text-decoration: none;
  color: white;
}

.sidebarLinks a:hover,
.exit:hover {
  background: #7fd7ff;
  color: black;
}
.sidebarLinkDivActive span {
  color: black;
}
.sidebarLinkDiv span,
.sidebarLinkDivActive span,
.exit span {
  text-wrap: nowrap;
}

.sidebarLinkDiv,
.sidebarLinkDivActive,
.exit {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebarLinkDiv img,
.exit img {
  width: 16px;
  filter: invert(1);
}

.sidebarLinkDivActive {
  background-color: #b8e5f9;
  color: black;
}

.sidebarLinkDivActive img,
.sidebarLinkDiv:hover img,
.exit:hover img {
  filter: invert(0);
  width: 16px;
}

.exit {
  cursor: pointer;
}

/* Адаптивность */
@media screen and (max-width: 1100px) {
  .sidebar {
    transition: 0.3 ease;
    width: 60px;
  }
  .sidebarLinks > a,
  .exit {
    padding: 15px 100% !important;
    width: fit-content;
  }

  .sidebarLinkDiv span,
  .sidebarLinkDivActive span,
  .exit span {
    display: none;
  }

  .logo img {
    width: 30px;
  }
}

@media screen and (max-width: 920px) {
  .sidebar {
    display: none;
  }
}
