.searchItemContainer {
	display: flex;
	flex-direction: column;
}

.sectionTitle {
	display: flex;
	align-items: center;
	gap: 10px;
	cursor: default;
}

.sectionTitle img {
	margin: 0;
	border-radius: 3px;
}

.searchItem {
	background: rgba(250, 250, 250, 0.9);
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
	cursor: pointer;
	z-index: 99;

}

.searchItem>* {
	padding: 10px 20px;
}

.searchItem h1 {

	margin: 0;
	font-size: 1.3em;
}

.borders:hover {
	background-color: #f1f1f1;
}

.borders {
	border-top: 1px solid #f3f3f3;
	border-bottom: 1px solid #f3f3f3;
}

.searchItemContent {

	display: flex;
	align-items: center;
	gap: 20px;
}


.searchItemImg img {
	margin: 0 !important;
	filter: none !important;
	display: flex;
	width: 48px !important;
	height: 48px !important;
	object-fit: cover;
	border-radius: 3px;

}

.searchItemInfo,
.searchPrescriptionInfo {
	align-items: center;
	display: flex;
	gap: 10px;
}

.searchPrescriptionInfo {
	justify-content: space-between;
	width: 100%;
}

.phone {
	opacity: 0.5;
}

.code {
	background-color: #A6DEF7;
	padding: 5px;
	border-radius: 5px;
}

.incomingMessages {
	border-radius: 16px;
	box-shadow: 0 0 50px 5px #00000014;
	position: absolute;
	top: 150%;
	right: 0;
	display: none;
	transition: 0.1s;
	width: 330px;
	background-color: white !important;
	opacity: 1;

}
.noData {
	cursor: default;
}


/* Medicine */


.medications {
	display: flex;
	background-color: #f6f6f6;
	overflow-x: auto;

	gap: 10px;
	margin-top: 10px;
	padding: 5px;
	border-radius: 10px;
	border: 1px solid #f0f0f0;
	cursor: grab;

	transition: filter 0.3s ease;
}



.medications:active {
	cursor: grabbing;
}

.medications::-webkit-scrollbar {
	height: 5px;
	border-radius: 10px;
}

.medications::-webkit-scrollbar-thumb {
	background-color: #b6b6c3;
	border-radius: 10px;
}


.medication {

	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	border-radius: 10px;
	padding: 5px;

	user-select: none;
	transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.medGridItem:hover {
	transform: scale(1.01);


}

.medItemName {
	font-size: 0.8rem;
	font-weight: 600;
	color: #333;
}

.medItemDosage {
	font-size: 0.6rem;
	color: #666;
}

.medItemNumber {
	font-size: 0.8rem;
	color: #2e2e2e;
}

.more {
	margin-top: 10px;
}