.moreInfoButt {
  width: 36px;
  height: 36px;
  border-radius: 6px;
  padding: 10px;
  background: #A6DEF7;
  transition: 0.3s;
  position: relative;
	display: inline-flex;
}

.moreInfoButt:active {
  scale: 0.9;
  transition: 0.3s;
}

.moreInfoButt:hover {
  opacity: 0.8;
  transition: 0.3s;
}


.moreInfoModal {
  display: flex;
  border: 1px solid #0000000f;
  right: 50%;
  top: 100%;
  position: absolute;
  gap: 10px;
  border-radius: 16px 0 16px 16px;
  box-shadow: 0 0 50px 5px #00000014;
  background: white;
  padding: 10px 20px;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1;

  
  & > a:hover , button:hover {
    border-bottom: 1px solid black;
    transition: 0.3s;
    opacity: 0.7;
  }
  button{
    padding: 0;
    border: none;
    background: transparent;
    
  }
  
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header h2 {
  font-size: 20px;
  font-weight: 600;
}
.addFileButton {
  background-color: #6c63ff;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
}

.fileList {
  list-style: none;
  padding: 0;
  margin: 20px 0 0;
  max-height: 300px;
  overflow-y: auto;
}

.fileItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  margin-bottom: 10px;
}

.fileIcon {
  background-color: #e0e0e0;
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

.fileInfo {
  flex: 1;
  margin-left: 10px;
}

.fileName {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

.fileDate {
  font-size: 12px;
  color: #888;
  margin: 5px 0 0;
}

.downloadIcon {
  padding-right: 12px;
  font-size: 20px;
  cursor: pointer;
}

.dropFile {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  border: 2px dashed #A6DEF7;
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
  padding: 50px 10px;
  
}
.dropFile i {

  
  
  font-size: 100px;
  color: #A6DEF7;
}