.myCustomButton {
  background-color: #3e36b0;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 12px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: fit-content;
  margin: 0 auto;
}

.userInfo {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.receptId {
  background: #a6def7;
  padding: 10px;
  border-radius: 6px;
  font-weight: bold;
}
.nameTd {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nameTd img {
  width: 60px;
}
.round {
  border-radius: 100px;
  padding: 7px;
}

/* Для мобильных экранов, например, до 480px */
@media (max-width: 680px) {
  .myCustomButton {
    padding: 0;
    background-color: transparent;
    color: black;
    text-decoration: underline;
    
  }
}
