.blur {
	visibility: hidden;
	display: flex;
	top: 0;
	left: 220px;
	width: calc(100% - 220px);
	position: fixed;
	height: 100dvh;
	backdrop-filter: blur(10px);
	z-index: 10;
	transition: opacity 0.3s;
	opacity: 0;
}

@media screen and (max-width: 920px) {
	.blur {
		width: 100% !important;
		left: 0 !important;
	}
}

@media screen and (max-width: 1100px) {
	.blur {
		left: 60px;
		width: calc(100% - 60px);
	}
}

.blurActive {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.3s;
}