.card {
  background-color: white;
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0 0 50px 5px #00000014;
  position: relative;
  gap: 15px;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerInfo {
  flex-grow: 1;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  padding: 7px;
}

.name {
  font-weight: 600;
  font-size: 16px;
  color: #222222;
  margin: 0;
}

.date {
  font-weight: 500;
  color: #494949;
  font-size: 14px;
  margin: 0;
}
.gap {
  gap: 5px;
  display: flex;
  flex-direction: column;
}

.star {
  color: #ffcc00;
  font-size: 20px;
}

.starEmpty {
  color: #ccc;
  font-size: 18px;
}

.text {
  font-weight: 500;
  color: #333;
  font-size: 15px;

  line-height: 1.6;
}
.buttonDiv {
  display: flex;
  align-self: flex-end;
  gap: 20px;
  width: 100%;
}
.buttonDiv > * {
  width: 50%;
}

.service {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.service .bad,
.service .good {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 10px;
  padding: 7px 10px;
  border-radius: 30px;
  text-align: center;
  width: 100%;
}

.service .bad {
  border: 2px solid #ff3b30;
}

.service .good {
  border: 2px solid #34c759;
}
.imgNameBlockStar {
  width: 16px;
  height: 16px;
}
.topHeader {
  display: flex;
  justify-content: space-between;
}
.rating{
  text-wrap: nowrap;
}




@media (max-width: 568px) {
  .card {
    padding: 20px; /* Уменьшаем padding на мобильных устройствах */
  }

  .avatar {
    width: 80px;
    height: 80px; /* Уменьшаем размер аватара */
  }

  .name {
    font-size: 14px; /* Уменьшаем размер шрифта для имени */
  }

  .date {
    font-size: 12px; /* Уменьшаем размер шрифта для даты */
  }

  .text {
    font-size: 13px; /* Уменьшаем размер текста */
  }

  .service .bad,
  .service .good {
    font-size: 9px; /* Уменьшаем шрифт для отзывов */
  }
  .service{
    grid-template-columns: repeat(1,1fr);
  }

  .buttonDiv {
    flex-direction: column;
    gap: 10px; /* Уменьшаем gap между кнопками */
  }

  .buttonDiv > * {
    width: 100%; /* Устанавливаем кнопки на всю ширину */
  }
}
