@font-face {
  font-family: "Manrope", sans-serif;
  src: url("Manrope-Regular.woff2") format("woff2"),
    url("Manrope-Regular.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@layer base {
  :root {
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

#root {
  width: 100%;
  min-height: 100dvh;
}
* {
  font-family: "Manrope", sans-serif;
}

body {
  scroll-behavior: smooth;
  font-family: "Manrope", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100dvh;
  background: linear-gradient(to bottom, #ebf8ffc4, #e6f4ff);
}
input {
  font-family: "Manrope", sans-serif;
}

.content {
  gap: 20px;
  display: flex;
  flex-direction: column;
  
}
.myCustomButton {
  background-color: #3e36b0;
  color: white;
  border: none;
  border-radius: 30px;
  height: 48px;
  width: 145px;
  font-size: 17px;
  font-weight: 100;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="checkbox"] {
  width: 18px;
  height: 18px;
  cursor: pointer;
  border-color: #0056b3;
}

* {
  box-sizing: border-box;
  text-wrap: pretty;
}

main {
  min-height: 100dvh;
}

a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
  opacity: 1;
  display: grid;
}

a:hover {
  transition: 0.3s;
  opacity: 0.7;
}

h1 {
  font-weight: 300;
}

p {
  margin: 0;
}

main {
  display: flex;
  flex-direction: row;
}

input:focus {
  outline: none;
}

button:hover {
  transition: 0.3s;
  opacity: 0.8;
}

button:active {
  scale: 0.99 0.95;
  transition: 0.3s;
}

button {
  font-size: 16px;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #b7b7b7;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9fd;
}
/* Главный контейнер */
.container {
  margin-left: 220px; 
  width: calc(100% - 220px); /* Основное пространство */
  min-height: 100dvh;
  padding: 40px 80px;
  background: #f9f9f9;
  overflow-y: auto; 
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: margin-left 0.3s ease, width 0.3s ease;
  background: linear-gradient(to bottom, #ebf8ffc4, #e6f4ff);
}

/* Адаптивность */
@media screen and (max-width: 1100px) {
  .container {
    margin-left: 60px; /* Узкий сайдбар */
    width: calc(100% - 60px);
     padding: 20px 40px;
  }
}

@media screen and (max-width: 920px) {
  .container {
    margin-left: 0;
    width: 100%;
  }
}

.sx__date-picker-wrapper {
  display: none;
}
.sx__month-grid-day__header {
  height: 100px;
}
.sx__event,
.sx__time-grid-event,
.sx__time-grid-event-inner {
  min-height: fit-content !important;
}
.sx-react-calendar-wrapper {
  box-shadow: 0 0 50px 5px #00000014;
}
.sx__week-grid__date--is-today .sx__week-grid__date-number {
  background-color: #3e36b0 !important;
}
.sx__calendar,
.sx__calendar-wrapper,
.sx-react-calendar-wrapper {
  border-radius: 20px !important;
}
.sx__calendar {
  border: 1px solid #e5e5e5 !important;
}
.sx__event-modal-default {
  overflow-y: auto;
  box-shadow: 0 0 50px 5px #00000014 !important;
}
