.zapisFormPage{
    width:100%;
    height: auto;
    padding: 100px 7.5%;

}
.zapisFormPage > h1{
    font-size: 40px;
    font-weight: 600;
    line-height: 54.64px;
    margin-bottom: 40px;

}

.zapisPageLeft{
    width: 65%;
    height: auto;
    padding: 30px 45px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 50px 0px #0000001A;
}

.zapisPageLeftTimeBlock p{
    font-size: 18px;
    font-weight: 400;
    line-height: 24.59px;
    text-align: left;

}
.zapisPageLeftTimeBlock p.zapisPageLeftTimeText{
    font-size: 40px;
    font-weight: 600;
    line-height: 54.64px;
    color: #3E36B0;
    
}

.zapisPageLeftNameBlock{
    margin-top: 30px;
    font-size: 18px;
    font-weight: 500;
    line-height: 24.59px;
    display: flex;
    align-items: self-start;


}
.zapisPageLeftNameBlock img{
    margin-right: 8px;
    margin-top: 3.5px;
}
.zapisPageLeftType{
    color: #939393;
    font-size: 16px;
    margin-top: -2px;
}
.zapisPageLeftAddressBlock{
    margin-top: 30px;
    font-size: 18px;
    font-weight: 500;
    line-height: 24.59px;
    display: flex;
    flex-wrap: wrap;
    align-items: self-start;
}
.zapisPageLeftAddressBlock img{
    margin-right: 8px;
    margin-top: 3.5px;
}
.zapisPageLeftCity{
    color: #939393;
    font-size: 16px;
    margin-top: -2px;
}
.zapisPageLeftAddressBlockBtnPhone{
    width: 100%;
    margin-top: 20px;
}
.zapisPageLeftAddressBlockBtnPhone a{
    width: 175px;
    height: 45px;
    border: 1px solid var(--gwny, #3E36B0);
    border-radius: 1000px;
    font-size: 14px;
    font-weight: 500;
    line-height: 19.12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3E36B0;
    text-decoration: none;
}
.zapisPageLeftAddressBlockBtnPhone a img{
    margin-top: -2px;
    margin-right: 5px;
}

.infoblock{
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
.infoblock > div{
    width: 40%;
    height: 100%;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    gap: 25px;

}
.infoblock > div.infoblockNameBlock > div{
    width: 100%;
}
.infoblock > div.infoblockPhoneBlock{
    width: 60%;  
}
.infoblock > div.infoblockPhoneBlock > div , .infoblockNameBlock > div {
    margin-top: 20px;
}
.zapisPageLeftAddressBlock{
    align-content: space-between;
    margin: 0;
}
.zapisPageLeftAddressBlockBtnPhone{
    margin-top: 20px;
}
.leftBlockBottomPrice{
    width: 100%;
    margin-top: 25px;
    padding-top: 20px;
    padding-left: 1px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.59px;
    text-align: left;
    border-top: 1px solid #3E36B0;

}



.formBlock{
    width: 100%;
    margin-top: 60px;
    padding: 60px 0;
}
.formBlock h1 {
    font-size: 40px;
    font-weight: 600;
    line-height: 54.64px;
    margin-bottom: 20px;
}
.inputsBlock{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}
.inputsBlockLeft{
    width: 60%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap:30px;

}
.inputsBlockLeft p {
    font-size: 18px;
    font-weight: 500;
    line-height: 24.59px;
    margin-bottom: 10px;
    margin-left: 2px;

}
.inputsBlockLeft input{
    height: 50px;
    border-radius: 16px;
    font-size: 16.5px;
    outline: none;
    border: none;
    padding: 12px;
    background-color: #fff;
    box-shadow: 0px 0px 50px 0px rgba(54, 54, 54, 0.102);
    width: 90%;
    font-family: 'Manrope';
    font-size: 18px;
    font-weight: 500;
    line-height: 24.59px;
    

}
.inputsBlockRight{
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.inputsBlockRight p {
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    line-height: 27.32px;
    margin-bottom: 20px;
    text-align: center;

}


.fileBlockContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.fileBlockContainer:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.iconContainer {
    margin-bottom: 10px;
}

.icon {
    width: 40px;
    height: 40px;
    color: #000;
}


.fileInput {
    display: none;
}


.textareaBlock{
    margin-top: 10px;
    width: 59.5%;

}
.textareaBlock h1{
    font-size: 40px;
    font-weight: 600;
    line-height: 54.64px;
    margin-bottom: 20px;

}
.textareaBlock textarea{
    width: 100%;
    height: 148px;
    padding: 20px;
    border-radius: 20px;
    font-family: 'Manrope';
    font-size: 18px;
    font-weight: 400;
    line-height: 24.59px;
    resize: none;
    border: none;
    outline: none;
    box-shadow: 0px 0px 50px 0px #0000001A;



}


.checkboxBlock {
    width: 100%;
    padding: 20px 0;
   
    font-size: 15.5px;
    font-weight: 400;
    line-height: 21.86px;
    text-align: left;
    padding-right: 10px;
    margin-top: 30px;

}

.checkboxContainer {
    display: flex;
    align-items: center;
    margin-right: 10px;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    user-select: none;
    font-size: 15.5px;
    font-weight: 400;
    margin-bottom: 20px;
}

.checkboxContainer input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #f2f2f2;
    border-radius: 4px;
    background-color: #A6DEF7;

}

.checkboxContainer input:checked ~ .checkmark {
    background-color: #3E36B0;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkboxContainer input:checked ~ .checkmark:after {
    display: block;
}

.checkboxContainer .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
.checkboxBlock p{
    font-size: 15.5px;
    font-weight: 400;
    line-height: 21.86px;
    text-align: left;
    

}
.checkboxBlock p span{
    color: red;
}

.btnBlock{
    width: 100%;
    height: auto;
    margin-top: 25px;
    padding: 15px 0;
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
}
.btnBlock button{
    width: 251px;
    height: 49px;
    border-radius: 1000px ;
    border: none;
    background-color: #3E36B0;
    font-size: 16.5px;
    font-weight: 500;
    line-height: 24.59px;
    text-align: center;
    color: #fff;

}
.btnBlock button.btnBlockBack{
    background-color: #fff;
    border: 1px solid #3E36B0;
    color: #3E36B0;
}


.uploadedFileContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.uploadedFileIcon img {
    width: 40px;
    height: 40px;
}

.uploadedFileName {
    flex-grow: 1;
    margin: 0 10px;
    font-size: 16px;
    color: #333;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.uploadedFileActions img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.btnBlock button{
    cursor: pointer;
}
@media (max-width: 624px) {
    .zapisFormPage{
        padding: 100px 3%;

        padding-top: 150px;
    }
    .zapisFormPage > h1{
        font-size: 2rem;
        line-height: 40.64px;
        margin-bottom: 30px;
        text-align: center;
    
    }
    .zapisPageLeft{
        width: 100%;
    }
    .infoblock{
        flex-wrap: wrap;
        gap: 0;
    }
    .infoblock > div {
        width: 100%;
        gap: 0;
    }
    .infoblock > div.infoblockPhoneBlock {
        width: 100%;  
    }
    
    .infoblock > div.infoblockPhoneBlock > div, 
    .infoblockNameBlock > div {
        width: 100%;
    }
    .infoblock > div.infoblockPhoneBlock > div , .infoblockNameBlock > div {
        margin-top: 5px;
    }
    .zapisPageLeftAddressBlock{
        display: flex;
        flex-wrap: nowrap;
    }
    .zapisPageLeft{
        padding: 30px 25px;
    }
    .formBlock h1 {
        font-size: 2rem;
        text-align: center;
    }
    .inputsBlock{
        flex-wrap: wrap;
    }
    .inputsBlockLeft{
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap:30px;
        padding: 0 20px;
    }
    .inputsBlockLeft input{
        width: 100%;
    }
    .inputsBlockRight{
        width: 100%;
        padding: 0 20px;
        margin-top: 20px;
    }
    .inputsBlockRight p {
        font-size: 1rem;
    }
    .iconContainer{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .iconContainer img{
        width: 75%;
    }
    .textareaBlock{
        width: 100%;
        padding: 0 20px;

    }
    .textareaBlock h1{
        font-size: 1.9rem;
    }
    .checkboxBlock {
        padding: 20px 15px;
    
    }
    .checkboxBlock p{
        font-size: 0.95rem;
    }
    .btnBlock{
        padding: 15px 10px;
    }
    .btnBlock button{
        width: 48.5%;
        height: 45px;
        border-radius: 1000px ;
        font-size: 15.5px;
    
    }
}
