.calendarNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.calendarNavbarDate {
  padding: 3px;
  font-size: 2.5em;
  display: flex;
  gap: 10px;
}

.calendarNavbarButt {
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 40px;
  background: #A6DEF7;
  border-radius: 20px;
}


.calendarNavbarButt img {

  width: 12px;
  margin: 9px 20px 9PX 0;
}




.calendarNavbarButt span {

  padding: 9px 20px;
  color: black;
  user-select: none;
  transition: 0.3s;
}

.calendarNavbarButt span.active {
  color: black;
  background: #A6DEF7;
  border-radius: 20px;
  transition: 0.3s;
}

.search {
  display: flex;
  flex-direction: row;
  width: 85%;
  box-shadow: 0 0 10px 5px #00000014;
  padding: 10px 0;
  border-radius: 20px;
  border: none;
}

.search img,
.chatSearch img {
  margin: 0 10px 0 20px;
  filter: invert(0.8);
  padding: 0;
  height: 20px;
  width: 20px !important;
}

.search input {
  width: 100%;
  border: none;
  border-radius: 100px;
}

.tableContainer table {
  border: 1px solid #e5e5e5;
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
}

.shadow {
  box-shadow: 0 0 50px 5px #00000014;
  transition: 0.3s;
  border-radius: 20px;
}

.tableContainer tbody tr:nth-child(odd)>td {
  background-color: #F3F3F3;
}

.nameTd {
  display: flex;
  align-items: center;
}

.tableContainer tbody td {
  padding: 20px;
}

.tableContainer thead th {
  padding: 20px;
}

.round {
  border-radius: 100px;
  padding: 7px;
}

.nameTd span {
  padding: 0 20px;
}

.tCenter {
  text-align: center;
}

.moreInfo {
  width: 36px;
  height: 36px;
  border-radius: 6px;
  padding: 10px;
  background: #A6DEF7;
  transition: 0.3s;
  position: relative;
}

.moreInfo:active {
  scale: 0.9;
  transition: 0.3s;
}

.moreInfo:hover {
  opacity: 0.8;
  transition: 0.3s;
}

.lastVisitsTime span {
  background: #A6DEF7;
  padding: 10px;
  border-radius: 6px;
  font-weight: bold;
}

.nameTd img {
  width: 60px;
}

.moreInfoModal {
  display: flex;
  border: 1px solid #0000000f;
  right: 50%;
  top: 100%;
  position: absolute;
  gap: 10px;
  border-radius: 16px 0 16px 16px;
  box-shadow: 0 0 50px 5px #00000014;
  background: white;
  padding: 10px 20px;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1;

  & > a:hover , button:hover {
    border-bottom: 1px solid black;
    transition: 0.3s;
    opacity: 0.7;
  }
  button{
    padding: 0;
    border: none;
    background: transparent;
    
  }
  
}



.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  font-size: 20px;
  font-weight: 600;
}

.addFileButton {
  background-color: #6c63ff;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
}

.fileList {
  list-style: none;
  padding: 0;
  margin: 20px 0 0;
  max-height: 300px;
  overflow-y: auto;
}

.fileItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  margin-bottom: 10px;
}

.fileIcon {
  background-color: #e0e0e0;
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

.fileInfo {
  flex: 1;
  margin-left: 10px;
}

.fileName {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

.fileDate {
  font-size: 12px;
  color: #888;
  margin: 5px 0 0;
}

.downloadIcon {
  padding-right: 12px;
  font-size: 20px;
  cursor: pointer;
}

.dropFile {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  border: 2px dashed #A6DEF7;
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
  padding: 50px 10px;
  
}
.dropFile i {

  
  
  font-size: 100px;
  color: #A6DEF7;
}