button {
  font-size: 16px;
}
input[type="date"] {
  color: #808080;
  font-family: "Manrope", sans-serif;
  font-style: normal;
}

.settingNavbarButt {
  background: #3e36b0;
  border-radius: 20px;
  display: flex;
  user-select: none;
}

.settingNavbarButt button {
  width: 25%;
  text-align: center;
  color: white;
  border-radius: 20px;
  padding: 9px 20px;
  background: transparent;
  border: none;
}

.settingNavbarButt button.active {
  color: black;
  background: #a6def7;
  border-radius: 20px;
  transition: 0.3s;
}

.settingInfo label,
.profilInfo label {
  padding: 5px 0;
  font-weight: 500;
}

.settingInfo input,
.mainInfo input {
  height: 40px;
  border-radius: 16px;
  padding: 10px 15px;
  border: none;
  box-shadow: 0 0 45px 5px #00000014;
  width: 100%;
}

.settingInfo div,
.mainInfo div {
  display: flex;
  flex-direction: column;
}

.settingData {
  box-shadow: 0 0 50px 5px #00000014;
  display: flex;
  gap: 100px;
  padding: 40px;
  background-color: white;
  border-radius: 20px;
}

.settingInfo {
  display: flex;
  width: 60%;
  flex-direction: column;

  gap: 12px;
}

.fullRow div {
  width: 100%;
}

.halfRow {
  gap: 20px;
  display: flex !important;
  flex-direction: row !important;
}

.halfRow div {
  width: 50%;
}

.settingImg {
  height: fit-content;
  max-width: 400px;
}

.photo img {
  border-radius: 20px 20px 0 0;
  height: auto;
  width: -webkit-fill-available;
}

.settingInfo button {
  width: 100%;
  padding: 12px;
  background-color: #3e36b0;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  transition: 0.3s;
  font-weight: 500;
  margin: 10px 0;
}

.lightButt {
  color: #3e36b0;
  width: 42%;
  background: transparent;
  border: 1px solid #3e36b0;
  border-radius: 100px;
  padding: 16px;
}

.blueButt {
  color: white;
  width: 42%;
  background: #3e36b0;
  border: none;
  border-radius: 100px;
  padding: 16px;
}

.imgPanel {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 0;
}

.shadow {
  box-shadow: 0 0 50px 5px #00000014;
  transition: 0.3s;
  border-radius: 20px;
  padding: 20px;
  > p {
    font-size: 1.4em;
  }
}

.textarea {
  border-radius: 16px;
  padding: 15px;
  box-shadow: 0 0 50px 5px #00000014;
  border: none;
  min-height: 200px;
  max-width: 100%;
  max-height: 450px;
  outline: none;
}

.workTime {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.workTime > div {
  padding: 20px;
  flex: 1;
}
.workSchedule {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px 5px #00000014;
  padding: 20px;
  border-radius: 20px;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  height: fit-content;
}
.workSchedule p {
  padding: 6px 0;
}
.background {
  padding: 40px;
  background-color: white;
  border-radius: 20px;
}
.blueBack {
  border-radius: 10px;
  padding: 6px 10px;
  background: #a6def7;
}

.conclusions {
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
  gap: 15px;
}
.conclusions select {
  width: 100%;
  box-shadow: 0 0 50px 5px #00000014;
  border: none;
  padding: 12px;
  border-radius: 16px;
  user-select: none;
  outline: none;
  color: #858585;
  font-size: 16px;
}
