.flex{
	display: flex;
	gap: 20px;
}
.type{
	flex: 0.8;
}
.price{
	flex: 0.2;
}
.addVisit {
  color: #3e36b0;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  gap: 10px;
  padding: 0;
  transition: 0.3s;
  align-items: center;
}
.addVisit img,
.visitType img {
  width: 18px;
  height: 18px;
  transition: 0.3s;
  opacity: 1;
}
.inputs{
	display: flex;
	flex-direction: column;
	gap: 10px;
}